

header .navbar {
    margin-bottom: 0;
}

.navbar-default {
    border: none;
}

.navbar-brand {
    color: #222;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -1px;
    margin-top: 30px;
    padding: 0 0 0 15px;
}

header .navbar-collapse ul.navbar-nav {
    float: right;
    margin-right: 0;
}

header .navbar-default {
    background-color: #fff;
}

header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .open > a:hover,
header .navbar-default .navbar-nav > .open > a:focus {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

header .navbar {
    min-height: 100px;
}

header .navbar-nav > li {
    padding-bottom: 30px;
    padding-top: 30px;
}

header .navbar-nav > li > a {
    padding-bottom: 6px;
    padding-top: 5px;
    margin-left: 2px;
    line-height: 30px;
    font-weight: 700;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.dropdown-menu li a:hover {
    color: #fff !important;
}

header .nav .caret {
    border-bottom-color: #f5f5f5;
    border-top-color: #f5f5f5;
}

.dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    border: none;
}

.dropdown-menu li:last-child {
    padding-bottom: 0 !important;
    margin-bottom: 0;
}

header .nav li .dropdown-menu {
    padding: 0;
}

header .nav li .dropdown-menu li a {
    line-height: 28px;
    padding: 3px 12px;
}

/* --- menu --- */

header .navigation {
    float: right;
}

header ul.nav li {
    border: none;
    margin: 0;
}

header ul.nav li a {
    font-size: 12px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}

header ul.nav li ul li a {
    font-size: 14px;
    border: none;
    font-weight: 300;
    text-transform: uppercase;
}

.navbar .nav > li > a {
    color: #666;
    text-shadow: none;
}

.navbar .nav a:hover {
    background: none;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover {
    background: none;
    font-weight: 700;
}

.navbar .nav > .active > a:active, .navbar .nav > .active > a:focus {
    background: none;
    outline: 0;
    font-weight: 700;
}

.navbar .nav li .dropdown-menu {
    z-index: 2000;
}

header ul.nav li ul {
    margin-top: 1px;
}

header ul.nav li ul li ul {
    margin: 1px 0 0 1px;
}

.dropdown-menu .dropdown i {
    position: absolute;
    right: 0;
    margin-top: 3px;
    padding-left: 20px;
}

.navbar .nav > li > .dropdown-menu:before {
    display: inline-block;
    border-right: none;
    border-bottom: none;
    border-left: none;
    content: none;
}

ul.nav li.dropdown a {
    z-index: 1000;
    display: block;
}

select.selectmenu {
    display: none;
}





.u-section-1 {
  background-image: none;
}
.breadcrumb{
	display: none !important;
}

.u-section-1 .u-sheet-1 {
  min-height: 717px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 717px;
  background-image: url("../images/-tricot-meshmixon6701.jpg");
  background-position: 50% 50%;
}
.container{
	margin-top:-20px;
}
.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 818px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 284px 92px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 12.5rem;
  line-height: 0.8;
  width: 510px;
  margin: -753px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-image-1 {
    min-height: 591px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 674px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -582px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-image-1 {
    min-height: 453px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 819px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 181px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -798px;
    margin-right: 196px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-1 .u-image-1 {
    min-height: 680px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 10.9375rem;
    margin-top: -531px;
    margin-right: 30px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-1 .u-image-1 {
    min-height: 428px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
    margin-top: -630px;
    margin-right: -10px;
    margin-left: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 785px;
}

.u-section-2 .u-image-1 {
  width: 558px;
  height: 558px;
  object-position: 50% 45.95%;
  background-image: url("../images/pexels-photo-4098148.jpeg");
  background-position: 50% 50%;
  margin: 61px auto 0;
}

.u-section-2 .u-group-1 {
  background-image: none;
  margin-top: -130px;
  margin-bottom: 0;
  min-height: 130px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 43px;
  font-size: 3rem;
  width: 591px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  width: 740px;
  margin: 11px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -89px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -112px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    line-height: 1.4;
    width: auto;
    margin: -17px 0;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 26px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -68px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -34px;
    margin-bottom: -30px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 26px;
  }
}

@media (min-width: 768px) {

    .navbar-collapse {
        padding: 0;
    }

    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}